In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [3]:
df = pd.read_csv('/content/city_day.csv')

In [4]:
df.head()

,City,Date,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket
0,Ahmedabad,2015-01-01,NaN,NaN,0.92,18.22,17.15,NaN,0.92,27.64,133.36,0.00,0.02,0.00,NaN,NaN
1,Ahmedabad,2015-01-02,NaN,NaN,0.97,15.69,16.46,NaN,0.97,24.55,34.06,3.68,5.50,3.77,NaN,NaN
2,Ahmedabad,2015-01-03,NaN,NaN,17.40,19.30,29.70,NaN,17.40,29.07,30.70,6.80,16.40,2.25,NaN,NaN
3,Ahmedabad,2015-01-04,NaN,NaN,1.70,18.48,17.97,NaN,1.70,18.59,36.08,4.43,10.14,1.00,NaN,NaN
4,Ahmedabad,2015-01-05,NaN,NaN,22.10,21.42,37.76,NaN,22.10,39.33,39.31,7.01,18.89,2.78,NaN,NaN

In [5]:
df.shape

(29531, 16)

In [6]:
df.isnull().sum()

City              0
Date              0
PM2.5          4598
PM10          11140
NO             3582
NO2            3585
NOx            4185
NH3           10328
CO             2059
SO2            3854
O3             4022
Benzene        5623
Toluene        8041
Xylene        18109
AQI            4681
AQI_Bucket     4681
dtype: int64

In [7]:
df.fillna(method='ffill',inplace=True)

In [8]:
df.shape

(29531, 16)

In [9]:
df.isnull().sum()

City             0
Date             0
PM2.5           27
PM10          1594
NO               0
NO2              0
NOx              0
NH3           2009
CO               0
SO2              0
O3               0
Benzene          0
Toluene          0
Xylene           0
AQI             28
AQI_Bucket      28
dtype: int64

In [10]:
df.dropna(inplace=True)

In [11]:
df.shape

(27522, 16)

In [12]:
df.head()

,City,Date,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket
2009,Aizawl,2020-03-11,32.69,47.91,6.99,2.85,11.93,26.64,0.60,4.53,4.48,0.03,0.30,1.87,119.0,Moderate
2010,Aizawl,2020-03-12,31.21,38.66,7.20,1.27,10.65,25.63,0.56,4.22,2.81,0.01,0.08,1.87,52.0,Satisfactory
2011,Aizawl,2020-03-13,38.39,46.68,7.19,0.91,10.37,29.16,0.57,4.46,0.18,0.00,0.00,1.87,60.0,Satisfactory
2012,Aizawl,2020-03-14,43.23,50.83,7.14,1.07,10.48,28.95,0.57,4.53,0.41,0.00,0.00,1.87,62.0,Satisfactory
2013,Aizawl,2020-03-15,33.82,41.03,7.09,0.36,9.73,28.41,0.48,4.63,0.30,0.00,0.00,1.87,70.0,Satisfactory

In [ ]:
from sklearn.pipeline import Pipeline
from sklearn.ensemble import RandomForestRegressor
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
import pickle

In [ ]:
# Define X and y
features = ['PM2.5', 'PM10', 'NO2', 'SO2', 'CO', 'O3']
X = df[features]
y = df['AQI']

In [ ]:
# Train/test split
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
# Create pipeline with scaler and model
pipeline = Pipeline([
    ('scaler', StandardScaler()),
    ('model', RandomForestRegressor(random_state=42))
])

In [ ]:
# Train
pipeline.fit(x_train, y_train)

In [ ]:
# Predict and evaluate
y_pred = pipeline.predict(x_test)
r2 = r2_score(y_test, y_pred)
print(f"Pipeline R Score: {r2:.4f}")

In [ ]:
# Save the entire pipeline with feature names preserved
with open('best_model_pipeline.pkl', 'wb') as f:
    pickle.dump(pipeline, f)

print(" Saved model with pipeline as best_model_pipeline.pkl")

In [23]:
input_dict = {"PM2.5": 96.9, "PM10": 489.9, "NO2": 13.3, "SO2": 20.5, "CO": 436 / 1000, "O3": 114}  # Convert CO g/m  mg/m if needed

# Create DataFrame
input_df = pd.DataFrame([input_dict])

# Predict
y_pred = pipeline.predict(input_df)
print("Predicted AQI:", y_pred[0])

Predicted AQI: 394.09